// Form
#public #new-game {

  .errors {
    background: $error-pink;
    color: $error-red;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 1.5em;
  }

  form {

    h4 {
      margin: 1.5em 0 1em;
    }

    label {
      display: block;
    }

    .check-box label {
      display: inline;
      margin-left: .5em;
    }

    fieldset {
      margin-bottom: 1em;
    }

    [type=text],
    textarea {
      width: 30em;
    }

    textarea {
      border: 1px solid $grey-lightest;
      height: 6em;
    }

    [type=submit] {
      background: $blue;
      margin: 1em 0;
    }

    .field_with_errors input {
      border: 1px solid $error-red;
    }

  }

}
