// Body

body {
  font-family: 'Open Sans', sans-serif;
}

// Links
a {
  color: $blue;
}

// Header
.title {
  background: $grey;
  padding-bottom: 10px;
  padding-top: 10px;

  h1 {
    font-size: 32px;
    text-transform: uppercase;
  }
}

// Main Nav
.main-nav {
  background: transparent;
  border-color: transparent;

  .container {
    background: $gold;
    height: 60px;
    padding-right: 0;
  }

  .navbar-nav {
    align-self: center;

    li a {
      border-bottom: 7px solid transparent;
      color: $dark-blue;
      font-weight: bold;
      margin: 0 15px 10px;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      text-decoration: none;

      &:hover,
      &.current {
        border-bottom: 7px solid $dark-blue;
      }
    }
  }

  .navbar-collapse {
    display: flex !important; // scss-lint:disable ImportantRule
    height: 100% !important; // scss-lint:disable ImportantRule
  }
}

.search-database {
  background: $light-blue;
  height: 100%;
  margin-left: auto;
  padding-left: 20px;

  label {
    align-items: center;
    color: $white;
    display: flex;
    float: left;
    height: 100%;
  }

  input {
    background: $light-blue;
    border: 0;
    box-shadow: none;
    color: $dark-blue;
    font-size: 18px;
    font-weight: normal;
    margin-left: 5px;
    padding-top: 13px;
  }

  input::-webkit-input-placeholder {
    color: $white;
  }

  button {
    background: $gold;
    border: 0;
    color: $dark-blue;
    font-weight: bold;
    margin: 15px 20px 8px 0;
  }

  button:hover,
  button:focus {
    background: lighten($gold, 10%);
    color: $dark-blue;
  }
}

// Footer

.footer {
  margin-top: 50px;
  overflow: hidden;

  .footer-main {
    background: $dark-blue;
    color: $white;
    padding: 25px 100px;
  }

  .footer-nav li {
    margin-bottom: 15px;
  }

  .footer-nav li:last-of-type {
    margin-bottom: 0;
  }

  .footer-nav a {
    border-bottom: 3px solid transparent;
    color: $white;
    display: inline-block;
    font-weight: bold;
    padding: 0 0 2px;
  }

  .footer-nav a:hover {
    background: none;
    border-bottom: 3px solid $white;
    text-decoration: none;
  }

  .footer-social-links a:first-of-type {
    margin-right: 10px;
  }

  .footer-social-links a:hover {
    border-bottom: 3px solid transparent;
    color: $gold;
  }

  .mailing-list-signup h2 {
    color: $white;
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
  }

  .footer-bottom {
    background: $black;
    color: darken($white, 30%);
    font-weight: bold;
    padding: 25px 100px;
  }
}

// Tags
// .themes a {
//   background: $theme-color;

//   :hover {
//     background: lighten($theme-color, 20%);
//   }
// }

// .communities a {
//   background: $community-color;

//   :hover {
//     background: lighten($community-color, 20%);
//   }
// }

// // .awards a {
// //   background: $award-color;

// //   :hover {
// //     background: lighten($award-color, 20%);
// //   }
// // }

// .styles a {
//   background: $style-color;

//   :hover {
//     background: lighten($style-color, 20%);
//   }
// }

// .subgenres a {
//   background: $subgenre-color;

//   :hover {
//     background: lighten($subgenre-color, 20%);
//   }
// }

