.search-form {

  h1 {
    margin-bottom: 30px;
    text-align: center;
  }

  .keywords {
    background: $light-blue;
    border: 0;
    color: $dark-blue;
    font-size: 20px;
    height: 50px;
    line-height: 1;
    margin-right: 20px;
    padding: 10px 20px;
    width: calc(85% - 50px);
  }

  .keywords::-webkit-input-placeholder {
    color: $white;
    padding-top: 4px;
  }

  .search-button {
    background: $white;
    border: 4px solid $light-blue;
    color: $dark-blue;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    padding: 13px 0;
    width: 15%;

    &:hover {
      background: $light-blue;
    }

  }

  #second-search-button {
    margin-top: 1em;
  }

  .search-type {
    margin: 30px 0 10px;

    label {
      margin-right: 20px;
    }
  }

  .tags {
    label {
      display: block;
    }
  }
}
