// Search Database
.search-database {
  background: $light-blue;
  height: 100%;
  margin-left: auto;
  padding-left: 20px;

  label {
    align-items: center;
    color: $white;
    display: flex;
    float: left;
    height: 100%;
  }

  input {
    background: $light-blue;
    border: 0;
    box-shadow: none;
    color: $dark-blue;
    font-size: 18px;
    font-weight: normal;
    margin-left: 5px;
    padding-top: 13px;
  }

  input::-webkit-input-placeholder {
    color: $white;
  }

  button {
    background: $gold;
    border: 0;
    color: $dark-blue;
    font-weight: bold;
    margin: 15px 20px 8px 0;
  }

  button:hover,
  button:focus {
    background: lighten($gold, 10%);
    color: $dark-blue;
  }
}
