@media (max-width: 600px) {

  .main-nav {

    .main-nav-inner-container {
      ul a {
        display: inline-block;
        margin-top: 1em;
        }
      }
    }


  .explore-cloud-container {
    .explore-cloud {
      a {
        width: 31%;

        &:nth-of-type(1n) {
          margin-right: 1.25%;
        }

        &:nth-of-type(1n+1) {
          margin-left: 1.25%;
        }

        &:nth-of-type(3n) {
          margin-right: 0;
        }

        &:nth-of-type(3n+1) {
          margin-left: 0;
        }
      }
    }

  }

}
