@media (max-width: 850px) {

  .main-nav .container {
    height: initial;
    padding-left: 0;

    .main-nav-inner-container {
      display: block;

      ul {
        float: none;
        height: 60px;
        padding-left: 15px;
      }

      .search-database {
        display: flex;
        padding-left: 30px;

        label {
          align-self: center;
        }

        input#q {
          align-self: center;
          padding-top: 4px;
        }

        button.btn.btn-primary {
          margin: 15px;
        }
      }
    }
  }
}
